@media only screen and (min-width: 64rem) {

  header h1 {
    font-size: 3em;
    display: inline;
    margin: 0 auto;
  }
  header .suncloud-icon {
    max-width: 150px;
  }

  nav button { display:none; }

  nav ul {
    margin-left: 2%;
  }
  nav ul li {
    float: left;
  }

  nav ul.hide {
    display: block;
  }
  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: .6rem 1rem;
  }
  main figure {
    margin: 0;
    width: 100%;
  }
  main figure img.header-img {
    width: 100%;
    margin: 0;
    max-height: 350px;
  }
  main .weather-summary {
    display: flex;
    justify-content: space-between;
  }

  main h2 {
    margin: 0;
  }
  main h3 {
    text-align: left;
  }
  main .conditions {
    text-align: right;
    margin-right: 20px;
  }

  article h3 {
    font-size: 2em;
  }
  article figure.franklin-downtown {
    width: 100%;
  }
  article figure img {
    width: 50%;
  }
  
}
