@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */

      /* hamburger button does not need to be shown in the medium on up views */

    section.forecast {
      display: inline;
      }  /* show the 10-day forecast with the medium view and up */


    header h1 {
      font-size: 2.5em;
      margin: 0 auto;
    }
    header .subheading {

    }
    header .suncloud-icon {
      max-width: 150px;
    }
    .header-img {
      width: 500px;
    }

    .sunny-image {
      max-width: 100px;
    }


    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
        border: 1px solid #ddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
        background-color: gray;
        color: white;
    }
    article {
      display: inline;
      /*flex-flow: row;*/
    }
    article h3 {
      font-size: 1.75em;
    }

    main article .town-article {
      float: left;
      width: 50%;
      
    }
    article figure.franklin-downtown {
      width: 100%;
    }
    article figure img {
      width: 50%;
    }
  }
