/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; }

body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Lato', sans-serif;
    color: #2f2f2f;
}

h1 {
    font-size: 'Roboto', sans-serif;
    color: #fff;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 70%;
}

header, footer, footer a {
    text-align: center;
    background-color: #3aaee0;
    color: whitesmoke;
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

footer {
    font-size: .75em;
}

/*F9685D red
  3aaee0 blue*/
