table {
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #e7ffed;
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
    box-shadow: 10px 10px 20px #628ca6;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
thead, tfoot {
  background-color: #7fb9c2;
  color: black;

}
th {

  font-size: 1.5em;
}

tr:nth-last-child(7) {
  background-color: #628ca6;
  color: #fff;
  font-weight: bold;
}
tr:nth-child(even) {
    background-color: #e7f0ed;
}

tfoot {
  font-size: .8em;
}

#colored-cell {
  background-color: #628ca6;
  color: #fff;
}
